<!DOCTYPE html>
<html>
  <head>
    <!-- Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="input-field col s12">
            <input
              id="url-input"
              type="text"
              placeholder="Enter URL to shorten"
            />
            <label for="url-input">URL</label>
          </div>
          <div class="input-field col s12">
            <button
              class="btn waves-effect waves-light"
              type="button"
              onclick="submitForm('{{ host }}')"
            >
              Shorten URL
            </button>
          </div>
        </form>
      </div>
      <div id="short-url" class="row">
        <div class="col s12 center-align">
          <h5></h5>
        </div>
      </div>
    </div>
    <script>
      async function submitForm(host) {
        const input = document.getElementById("url-input").value;
        const url = 'http://' + host + "/shorten_url?long_url=" + input
        const response = await fetch(url, {
          method: "POST",
          headers: { "Content-Type": "application/json" }
        });
        const data = await response.json();
        document.getElementById(
          "short-url"
        ).innerHTML = `<h5>Short URL: http://${data.short_url}</h5>`;
      }
    </script>
  </body>
</html>
